.fight-stick .back, .fight-stick .start {
    /* width: 70px; */
    /* height: 70px; */
    /* background: #333333; */
    /* display: block; */
    /* border-radius: 100%; */
}


.controller.fight-stick {
    background: url(https://i.imgur.com/zxysuTJ.png) center no-repeat;
    height: 534px;
    width: 1122px;
}

.fight-stick .quadrant {
    /* position: absolute; */
    /* font-family: "Press Start 2P"; */
    /* font-size: 28px; */
    /* font-weight: normal; */
    /* top: 20px; */
    /* left: 236px; */
    /* color: white; */
}

.fight-stick .p0:after {
    /* content: "Player 1"; */
}


.fight-stick .y {
    bottom: 0px;
    left: 0px;
}
